:root {
  --primary: #8a4fff;
  --secondary: #a69313;
  --dark: #131a26;
  --grey: #ccc;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  background-color: var(--light);
}

#app {
  display: flex;
  /* flex-direction: column; */
  min-height: 100vh;
}
